{% extends "page.njk" %}

{% block content %}
    <div class="container">
        <p>
            {% for tag in collections.tagsList  %}
                <a href="/tag/{{ tag }}">{{ tag }}</a> &nbsp;
            {% endfor %}
            <hr>
        </p>

        {% for item in collections.posts | reverse %}
            <div>
                <b><small>{{ item.data.date | dmy }}</small></b><br>
                <a href="{{ item.url }}">{{ item.data.title }}</a><br>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}