{% include "partials/htmlhead.njk" %}

<div class="row">
  <div class="one column"></div>
  <div class="eleven columns">
    <h2 onclick="location='/'" style="cursor: pointer">Blog</h2>
  </div>
</div>

<hr style="margin-top: 0">

{% block content %}
  {{ content | safe }}
{% endblock %}

{% include "partials/htmlfoot.njk" %}